@import "variables";

.form-right .formbody .widget-text,
.form-right .formbody .widget-textarea {
  margin: 20px 0;
}

.form-right .formbody input[name="vorname"],
.form-right .formbody input[name="name"],
.form-right .formbody textarea[name="nachricht"],
.form-right .formbody input[name="email"],
.form-right .formbody textarea[name="betreff"],
.form-right .formbody textarea[name="anmerkung"]{
  background-color: #FFF3;
  color: #ffffffcf;
  cursor: pointer;
  width: 90%;
  padding: 10px 20px;
  outline: none;
  border-radius: 10px;
  font: normal normal 500 22px/30px Raleway;
  transition: background-color 250ms;
  border: 1px solid white;
}

.form-right .formbody {
  .widget.widget-text.form-left,
  .widget.widget-text.right {
    float: left;
    width: 44%;
  }
  .widget.widget-text.form-left {
    margin-right: 3%;
  }
  .widget.widget-text.right {
    margin-left: 3%;
  }
}



.right .mod_form, .header.mobile .header-middle {
  position: relative;
  top: 0;
  right: 0;
  z-index: 10;
  .formbody {
    display: flex;
    width: auto;
    .widget.widget-submit.search {
      input {
        cursor: pointer;
        width: 35px;
        padding-right: 15px;
      }
    }
    .search_input {
      float: left;
      input {
        padding: 12px 4px;
        border-radius: 37px;
        outline: none;
        border: none;
        transition: width 250ms, opacity 250ms, padding 250ms;
        width: 0;
        display: block;
        opacity: 0;
        &.focus {
          width: 140px;
          padding: 6px 4px;
          opacity: 1;
        }
      }
    }
  }
}

.header.mobile .header-middle {
  .formbody {
    justify-content: center;
  }
}

.btn-submit {
  display: none;
}



@media screen and (max-width: 760px) {
  .form-right .formbody input[name="vorname"],
  .form-right .formbody input[name="name"],
  .form-right .formbody textarea[name="nachricht"],
  .form-right .formbody input[name="email"],
  .form-right .formbody textarea[name="betreff"],
  .form-right .formbody textarea[name="anmerkung"] {
    padding: 10px 10px;
    font: normal normal 500 19px/30px Raleway;
  }
  .form-right .widget.widget-submit {
    text-align: center;
  }
  .form-right .formbody {
    .widget.widget-text.form-left,
    .widget.widget-text.right {
      float: none;
      width: 100%;
    }
    .widget.widget-text.form-left {
      margin-right: 0;
    }
    .widget.widget-text.right {
      margin-left: 0;
    }
  }

  .btn-submit {
    display: block;
    width: 40px;
  }
}
