@import "variables";

body {
  font-family: 'Titillium Web', sans-serif;
}

h2 {
  font: normal normal normal 45px/50px Titillium Web;
  text-transform: uppercase;
}

p {
  font: normal normal normal 28px/30px Titillium Web;
}

a {
  text-decoration: none;
}