@import "variables";

body {
  font-family: 'Raleway', sans-serif;
}

h1 {
  text-align: center;
  font: normal normal 500 44px/46px Raleway;
  text-transform:uppercase;
  text-shadow: 4px 2px 11px rgba(0, 0, 0, 0.7);
}

h2 {
  font: normal normal 500 60px/60px Raleway;
  text-transform: uppercase;
}

h3 {
  font: normal normal 600 44px/46px Raleway;
  text-transform: uppercase;
}

p {
  font: normal normal 500 22px/26px Raleway;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.consulting-box, .blog-block, .footer,
.consulting-text, .competence-block,
.newslist .mod_newslist,
.mod_newsreader, .privacy, .project,
.strategy-headline, .accordion-block,
.container-block, .contact, .mod_search {
  margin: 0 auto;
  width: 90%;
  max-width: $max-width;
}

.ce_hyperlink.block {
  text-align: right;
  margin-top: 30px;
  a {
    display: inline-block;
    font: normal normal 500 18px/28px Raleway;
  }
}

.teaser-text p, .consulting-box .ce_text p,
.ce_hyperlink.block, .teaser-beratung,
.competence-block .left, .competence-block .right,
.form-right .widget.widget-submit, .project p, .strategy-headline {
  a, .submit {
    color: white;
    background: $türkis;
    padding: 15px 40px;
    border-radius: 25px;
    text-decoration: none;
    font-size: 18px;
    border: 3px solid $türkis;
    transition: color 250ms, background-color 250ms;
    &:hover {
      background-color: transparent;
      color: $türkis;

    }
  }
}

.form-right .widget.widget-submit {
  text-align: right;
  .submit {
    text-transform: uppercase;
  }
}

.bg {
  background-image: linear-gradient(to bottom, #041C3A, transparent);
  width: 100%;
  height: 160px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  opacity: 0.9;
  transition: height 500ms;
}

.mod_newsreader {
  margin: 50px auto;
}

#container ::placeholder {
  opacity: 1;
}

#privacy .ce_headline {
  margin: 50px auto;
  padding: 30px 0;
  font: normal normal 500 42px/60px Raleway;
  color: $blau;
}

.mod_search {
  margin: 10px auto 50px;
}

@media screen and (max-width: 760px){
  h2 {
    font: normal normal 500 30px/35px Raleway;
    text-transform: uppercase;
  }
  h3 {
    font: normal normal 500 25px/30px Raleway;
  }
  p {
    font: normal normal 500 18px/22px Raleway;
  }

  .teaser-text p, .consulting-box .ce_text p,
  .ce_hyperlink.block, .teaser-beratung,
  .competence-block .left, .competence-block .right,
  .form-right .widget.widget-submit {
    a, .submit {
      font-size: 16px;
      padding: 8px 20px;
    }
  }
  .ce_hyperlink.block {
    text-align: center;
  }

  #privacy .ce_headline {
    font: normal normal normal 24px/36px Raleway;
    padding: 20px 0;
    margin: 30px auto;
  }
}