@import "variables";

#header {
  position: absolute;
  width: 100%;
  z-index: 10;
  .inside {

  }
}


.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 30px 0;
  .logo-header {
    img {
      width: 100%;
    }
  }
  .right {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 25%;
    .mobile_menu_trigger {
      cursor: pointer;
      img {
        /*filter: invert(1);*/
        width: 120px;
      }
    }
  }
}