@import "variables";

#header {
  position: fixed;
  width: 100%;
  z-index: 200;
  .inside {

  }
}

.header {
  display: flex;
  justify-content: space-between;
  width: 90%;
  max-width: $max-width;
  margin: 0 auto;
  padding: 20px 0;
  .logo-header {
    img {
      width: 400px;
    }
  }
  .right {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 28%;
    position: relative;
    left: 0;
    transition: left 500ms;
    .mobile_menu_trigger {
      img {
        width: 120px;
      }
    }
  }
}

.mod_mobile_menu.mobile {
  display: none;
}


@media screen and (max-width: 835px) {
  #header {
    position: absolute;
  }
  .mod_mobile_menu.mobile {
    display: block;
    margin-right: 0;
  }
  .mod_mobile_menu.desktop,
  .right .mod_form {
    display: none;
  }
  .header .logo-header {
    img {
      width: 220px;
    }
  }
  .header .right .mobile_menu_trigger img {
    width: 60px;
  }
}