@import "variables";

.banner_image {
  position: relative;
  z-index: 1;
  height: 85vh;
  transition: height 700ms;
  .header-image {
    img {
      width: 100%;
      height: 90vh;
      object-fit: cover;
      object-position: center;
      transition: height 700ms;
    }
  }
}

.banner_image .header-image.mobile {
  display: none;
}

.teaser-text, .teaser-beratung {
  position: absolute;
  bottom: 28%;
  color: white;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  h3 {
    .span-h2 {
      font: normal normal normal 28px/40px Raleway;
      font-weight: lighter;
    }
  }
}

.teaser-text {
  p {
    font: normal normal normal 26px/36px Raleway;
  }
}
.address {
  position: absolute;
  bottom: 15%;
  width: 90%;
  max-width:$max-width;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-between;
  color: white;
  .phone, .mail, .location {
    p {
      position: relative;
      padding-left: 85px;
      font: normal normal normal 22px/24px Raleway;
      a {
        color: white;
        transition: color 250ms;
        &:hover {
          color: $türkis;
        }
      }
      &:before {
        content: "";
        position: absolute;
        left: 10px;
        top: -15px;
        width: 70px;
        height: 70px;
      }
    }
  }
  .phone p:before {
    background: url("/files/assets/layout/Phone.svg") no-repeat;
  }
  .mail p:before {
    background: url("/files/assets/layout/E-Mail.svg") no-repeat;
  }
  .location p:before {
    background: url("/files/assets/layout/Location.svg") no-repeat;
  }
  .phone, .mail {
    border-right: 2px solid white;
    padding-right: 85px
  }
}

.consulting, .about-us, .reference,
.blog, .bg-blue, .strategy, #privacy {
  height: auto;
  position: relative;
  z-index: 4;
  width: 100%;
}

.consulting {
  margin-top: -100px;
  background: url("/files/assets/layout/Differenzmenge 1(2).svg") center top 0/cover no-repeat;
}

.about-us {
  background: #e5edf7 url("/files/assets/layout/bg-white-new2.svg") center top 0/cover no-repeat;
}

.blog {
  background: #031329 url("/files/assets/layout/bg-white-new.svg") center top 0/cover no-repeat;
  margin-top: -9px;
}

.strategy, #privacy {
  background: url("/files/assets/layout/bg_transparent.svg") center top 0/cover no-repeat;
  margin-top: -120px;
}

#block {
  background: url("/files/assets/layout/bg_hellblau1.svg") center top 0/cover no-repeat;
  margin-top: -100px;
}

.consulting-box, .consulting-text {
  margin: 100px auto ;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
  flex-wrap: wrap;
  .ce_text, .ce_image {
    width: 45%;
  }
  .ce_text {
    h2 {
      color: $blau;
    }
    p > strong {
      color: $blau;
      font: normal normal 500 22px/30px Raleway;
    }
  }
  .ce_image {
    margin-top: 45px;
  }
}

.reference {
  .ce_image {
    img {
      width: 100%;
    }
  }
}

.reference {
  .ce_sliderStart {
    width: 100%;
    color: white;
    background: url("/files/assets/layout/Differenzmenge 3(2).svg") center top 0/cover no-repeat;
    position: absolute;
    bottom: 0;
    z-index: 6;
    height: auto;
    padding: 50px 0;
    .content-slider {
      width: 30%;
      margin: 100px auto;
      .layout_short {
        text-align: center;
        h2 {
          a {
            color: white;
          }
        }
       .ce_text {
         p {
           font: normal normal 500 22px/30px Raleway;
         }
       }
      }
    }
    .slider-control {
      position: absolute;
      transform: translateY(-50%);
      width: 100%;
      top: 50%;
      .slider-menu {
        display: none;
      }
      .slider-prev, .slider-next {
        img {
          width: 58px;
          height: 80px;
          transition: filter  250ms;
          &:hover {
            filter: invert(44%) sepia(95%) saturate(420%) hue-rotate(129deg);
          }
        }
      }
      .slider-prev {
        left: 16%;
      }
      .slider-next{
        right: 16%;
      }
    }
  }
}

.teaser-beratung {
  bottom: 30%;
  left: 33vw;
  color: $dunkelblau;
  p {
    a {
      display: inline-block;
      border-radius: 50px;
      padding: 15px 30px;
    }
  }
}

.about-us.beratung {
  background: #e3e3e5 url("/files/assets/layout/bg-white-new.svg") center top 0/cover no-repeat;
  margin-top: -15px;
  .right {
    font: normal normal bold 20px/45px Raleway;
    ul {
      margin: 0;
      padding: 0;
      li {
        position: relative;
        left: 40px;
        color: $dunkelblau;
        &:before {
          content: "";
          position: absolute;
          left: -40px;
          top: 12px;
          width: 22px;
          height: 22px;
          background: url("/files/assets/layout/check.svg") no-repeat 0/cover;
        }
      }
    }
  }
}

.bg-blue {
  background: #fff url("/files/assets/layout/bg_dunkelblau.svg") center top 0/cover no-repeat;
  .ce_text {
    margin: 100px auto 0;
    text-align: center;
    padding: 50px 0;
    color: white;
  }
}

.blog.competence {
  background: #041c3a url("/files/assets/layout/bg-white-new2.svg") center top 0/cover no-repeat;
}

.competence-block {
  padding: 120px 0;
  display: flex;
  justify-content: space-between;
  margin: 100px auto;
  .left, .right {
    width: 45%;
  }
  .left {
    text-align: right;
    border-right: 2px solid $dunkelblau;
    padding-right: 70px;
  }
}

.image {
  img {
    width: 100%;
  }
}

.newslist .mod_newslist {
  margin: 80px auto;
  .layout_short {
    background: #00A7A2;
    padding: 5px 35px;
    color: white;
    margin: 10px auto;
    .time, .more a{
      color: #0054B1;
    }
    .more {
      text-transform: uppercase;
      a {
        transition: color 250ms;
        &:hover {
          color: $dunkelblau;
        }
      }
    }
  }
}

.privacy {
  h2 {
    font: normal normal 500 42px/60px Raleway;
    text-align: center;
    color: $blau;
  }
  p {
    font: normal normal normal 24px/36px Raleway;
    a {
      color: $blau;
      transition: color 250ms;
      &:hover {
        color: $türkis;
      }
    }
  }
}

//New Layout

.project, .strategy-headline, .accordion-block,
.contact, .privacy {
  margin: 100px auto;
  padding: 50px 0;
}

.project {
  text-align: center;
  h2 {
    font: normal normal normal 42px/56px Raleway;

  }
}

#advice.project, .image-text .ce_text,
#about-us.teaser-beratung.new {
  h2 {
    font: normal normal 500 46px/66px Raleway;
    position: relative;
    padding-left: 60px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 42px;
      height: 45px;
      background: url("/files/assets/layout/Pfad 74.svg") no-repeat 0/cover;
    }
  }
}

#advice.project {
  text-align: left;
  h4 {
    font: normal normal normal 36px/66px Raleway;
    color: $blau;
    text-transform: uppercase;
  }
   p {
     font: normal normal 500 22px/66px Raleway;
     text-align: right;
     text-transform: uppercase;
   }
}

.strategy-headline {
  color: $blau;
  h2 {
    font: normal normal 500 42px/60px Raleway;
  }
  h3 {
    font: normal normal normal 24px/60px Raleway;
  }
}

.strategy-block {
  display: flex;
  justify-content: space-between;
  color: black;
  flex-wrap: wrap;
  .text-left, .text-right {
    width: 44%;
    p {
      font: normal normal normal 24px/36px Raleway;
      text-align: left;
      strong {
        text-transform: uppercase;
        font: normal normal normal 28px/36px Raleway;
      }
    }
  }
}

.teaser-beratung.new {
  max-width: 1200px;
  bottom: 20%;
  left: 50%;
  text-align: left;
  width: 90%;
  h2 {
    font: normal normal 500 42px/54px Raleway;
  }
  p {
    font: normal normal normal 24px/36px Raleway;
    max-width: 600px;
  }
}

#consultation.project, #history.project,
#muehlrat.project{
  text-align: left;
  color: $blau;
  h2 {
    font-weight: 500;
  }

  h3 {
    font: normal normal normal 24px/60px Raleway;
  }
  p {
    color: black;
    font: normal normal normal 24px/36px Raleway;
    strong {
      font-weight: 500;
      text-transform: uppercase;
    }
  }
}

.image-text {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .ce_text {
    width: 55%;
    margin-top: 10%;
    padding-right: 30px;
  }
  .ce_image {
    width: 40%;
  }
}

#about-us.teaser-beratung.new {
  bottom: 30%;
  max-width: $max-width;
}

#history.project {
  margin: 100px auto 0;
}

#block.strategy {
  .text-left, .text-right {
    .ce_text {
      position: relative;
      padding-left: 45px;
      &:before {
        content: "";
        position: absolute;
        left: 0;
        top: 14px;
        width: 30px;
        height: 35px;
        background: url("/files/assets/layout/Icon-before-black.svg") no-repeat 0/cover;
      }
    }
  }
}

.strategy-headline {
  p {
    text-align: right;
    a {
      display: inline-block;
      border-radius: 35px;
      padding: 8px 35px;
      text-align: center;

    }
  }
}

#block .strategy-headline .btn p {
  text-align: left;
  padding-left: 45px;
}

.container-block {
  margin: 100px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .block-box {
    width: 30%;
    text-align: center;
    p {
      font: normal normal normal 24px/36px Raleway;
    }
  }
}

.contact {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .left {
    width: 45%;
    margin: 0 0;
    text-align: right;
    border-right: 3px solid $türkis;
    padding: 0 50px 0 0;

    p {
      font: normal normal 500 24px/36px Raleway;
      a {
        color: $blau;
        transition: color 250ms;
        &:hover {
        color: $türkis;
      }
      }
    }
  }
  .form-right {
    width: 45%;
  }
}

#muehlrat.project {
  p {
    position: relative;
    padding-left: 45px;
    &:before {
      content: "";
      position: absolute;
      left: 0;
      top: 7px;
      width: 35px;
      height: 35px;
      background: url("/files/assets/layout/arrow-right-short(1).svg") no-repeat;
    }
  }
}

.address-header{
  display: none;
}

.marker p {
  font: normal normal 500 14px/16px Raleway;
}


@media screen and (max-width: 835px) {
//New Layout
  .teaser-text, .teaser-beratung {
    bottom: 20%;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    h1 {
      font: normal normal 500 22px/32px Raleway;
    }
    p {
      font: normal normal normal 16px/24px Raleway;
    }
  }

  .teaser-text {
    transition: font 700ms;
  }

  .address {
    display: none;
  }

  .address-header {
    height: auto;
    position: relative;
    z-index: 4;
    width: 100%;
    display: block;
    background: url("/files/assets/layout/bg_transparent.svg") center top 0/cover no-repeat;
    margin-top: -100px;
    .address-mobile {
      width: 90%;
      margin: 50px auto 80px;
      max-width: 1200px;
      padding: 30px 0 50px;
      .ce_text {
        text-align: center;
        img {
          filter: invert(1);
        }
        p {
          font: normal normal normal 19px/24px Raleway;
          a {
            color: black;
            transition: color 250ms;
            &:hover {
              color: $türkis;
            }
          }
        }
      }
    }
  }

  .menu-active {
    height: 135vh;
  }

  .banner_image.menu-active .header-image img {
    height: 135vh;
  }

  .teaser-text.mobile, .teaser-beratung.new.mobile {
    h1 {
      font: normal normal 500 18px/26px Raleway;
    }
    p {
      font: normal normal normal 14px/22px Raleway;
    }
  }

  .project, .strategy-headline, .accordion-block,
  #history.project, .contact, .privacy {
    margin: 50px auto;
    padding: 20px 0;
    h2 {
      font: normal normal normal 24px/36px Raleway;
    }
  }

  #advice.project h4 {
    font: normal normal normal 18px/28px Raleway;
  }

  #advice.project h2,  #about-us.teaser-beratung.new h2 {
    font: normal normal 500 30px/46px Raleway;
    padding-left: 45px;
    text-align: left;
    &:before {
      width: 32px;
      height: 36px;
    }
  }

  .strategy-headline {
    h2 {
      font: normal normal 500 24px/36px Raleway;
      text-align: left;
    }
    h3 {
      font: normal normal normal 18px/36px Raleway;
    }
    p {
      text-align: center
    }
  }

  .strategy-block .text-left, .strategy-block .text-right {
    width: 100%;
    p {
      font: normal normal normal 19px/28px Raleway;
      strong {
        font-size: 22px;
      }
    }
  }

  .reference .ce_image img {
    height: 80vh;
    object-fit: cover;
  }

  .teaser-beratung {
    left: 50%;
    bottom: -2px;
  }

  .teaser-beratung.new {
    bottom: 10%;
    width: 90%;
    margin: 0 auto;
    max-width: 1200px;
    left: 50%;
    text-align: center;
    h2 {
      font: normal normal 500 22px/32px Raleway;
    }
    p {
      font: normal normal normal 16px/24px Raleway;
    }
  }


  #advice.project p {
    font: normal normal 500 18px/66px Raleway;
  }

  .image-text {
    .ce_image {
      width: 100%;
      img {
        height: 85vh;
        object-fit: cover;
        object-position: -43vw 0;
        width: 100%;
      }
    }
    .ce_text {
      position: absolute;
      right: 19px;
      padding-right: 0;
      width: 70%;
      margin: 0 auto;
      h2 {
        font: normal normal 500 19px/30px Raleway;
        text-align: right;
        padding-left: 0;
        padding-right: 35px;
        &:before {
          display: none;
        }
        &:after {
          content: "";
          position: absolute;
          right: 0;
          top: 0;
          width: 26px;
          height: 30px;
          background: url("/files/assets/layout/Pfad 74.svg") no-repeat 0/cover;
        }
      }
    }
  }

  #about-us.teaser-beratung.new {
    h2 {
      font: normal normal 500 20px/32px Raleway;
      text-align: left;
    }
  }

  #history.project, #muehlrat.project,
  #consultation.project, .privacy {
    h3 {
      font: normal normal normal 18px/36px Raleway
    }
    p {
      font: normal normal normal 19px/28px Raleway;
    }
  }

  .image img {
    height: 80vh;
    object-fit: cover;
  }

  .container-block {
    margin: 50px auto;
    .block-box {
      width: 100%;
      img {
        width: 200px;
      }
      p {
        font: normal normal normal 19px/28px Raleway;
      }
    }
  }

  .contact {
    .left {
      width: 100%;
      border-right: 0;
      text-align: left;
      padding: 0;
      h2 {
        font: normal normal 500 40px/80px Raleway;
      }
      p {
        font: normal normal 500 19px/28px Raleway;
      }
    }
    .form-right {
      width: 100%;
      border-top: 3px solid #00A7A2;
      padding-top: 20px;
    }
  }

  .bg-blue {
    background: url("/files/assets/layout/Differenzmenge 23.svg") center top 0/cover no-repeat;
  }

  .blog.competence {
    background: #041c3a url("/files/assets/layout/bg_white_mobile.svg") center top 0/cover no-repeat;
  }

  #contact.teaser-beratung.new {
    bottom: 15%;
  }

  #home, .strategy, #block.strategy, #privacy {
    background: url("/files/assets/layout/bg_white_mobile.svg") center top 0/cover no-repeat;
    margin-top: -50px;
  }

  #block.strategy {
    margin-top: -95px;
}

  .banner_image .header-image.mobile {
    display: block;
  }
  .banner_image .header-image.desktop {
    display: none;
  }

  #privacy {
    background: none;
  }
}