@import "variables";

.mobile_menu {
  .inner {
    background-color: transparent;
    height: 100%;
    z-index: 0;
    position: relative;
    .mod_navigation {
      position: relative;
      top: 65px;
      width: 90%;
      max-width: $max-width;
      margin: 80px auto;
      ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}