@import "variables";

.mobile_menu {
  .inner {
    background-color: transparent;
    height: 100%;
    z-index: 0;
    position: relative;
    .mod_navigation {
      position: relative;
      top: 90px;
      width: 90%;
      max-width: $max-width;
      margin: 80px auto;
      z-index: 40;
      ul {
        padding: 0;
        display: flex;
        justify-content: space-between;
        text-transform: uppercase;
        width: 100%;
        li {
         a, strong {
           color: white;
           cursor: pointer;
           position: relative;
           top: 0;
           transition: top 250ms;
           font: normal normal 500 20px/30px Raleway;
           text-shadow: 0 0 10px black;
           &:after {
             position: absolute;
             bottom: -4px;
             left: 0;
             content: "";
             width: 100%;
             height: 0;
             background: white;
             transition: height 250ms;
           }
           &:hover {
             top: -2px;
           }
           &:hover:after {
             height: 2px;
           }
         }
      }
        &.level_2 {
          display: none;
          position: inherit;
          transition: display 250ms;
          li {
            padding-top: 4px;
            text-transform: capitalize;
          }
        }
      }
    }
  }
}

.mod_mobile_menu {
  margin-right: 50px;
}

.mobile_menu .inner {
  .mod_navigation  ul li:hover ul.level_2 {
    display:block;
  }
}

@media screen and (max-height: 835px) {
  .mobile_menu .inner .mod_navigation {
    top: 80px;
    margin: 60px auto;
  }
}

@media screen and (max-width: 1050px) {
  .mobile_menu .inner .mod_navigation {
    top: 100px;
  }
}

@media screen and (max-width: 835px)  {
  #mobile-menu-14 {
    .inner {
      background-image: linear-gradient(to bottom, #041C3A, transparent);
      .header.mobile {
        display: block;
        .header-top {
          display: flex;
          justify-content: space-between;
          .logo-header {
            img {
              width: 220px;
            }
          }
          .menu-close {
            font-size: 60px;
            color: white;
            position: absolute;
            top: 10px;
            right: 10vw;
          }
        }
        .header-middle {
          margin: 80px auto 20px;
          text-align: center;
          .mod_form {
            .widget.widget-submit.search {
              input {
               /* width: 40px;*/
                display: none;
              }
            }
          }
        }
        .header-bottom {
          .mod_navigation {
            top: 0;
            margin: 0 auto;
            ul {
              display: block;
              text-align: center;
              max-width: 185px;
              margin: 0 auto;
              li {
                height: 0;
                padding: 4px 0;
                transition: height 700ms;
                &:not(:last-child) {
                  border-bottom: 1px solid #fff;
                }
              }
            }
          }
        }
      }
    }
  }
}

#mobile-menu-14.active .inner .header.mobile .header-bottom .mod_navigation ul li {
  height: 30px;
}

#mobile-menu-14-trigger {
  opacity: 1;
  transition: opacity 700ms;
  cursor: pointer;
}


